@charset "UTF-8";

.restrationButton{
    border-radius: 6px;
    width: 115px;
    padding: 8px;
    border: none;
}

.restrationButton.button-border{
    border: 1.5px solid #00000080;
}

.execute, #dialogExecute{
    background-color: #4a86e8ff;
    color: #FFFFFF;
    font-size: large;
}

.pagesBox > .pagesCounterWeight{
	display: flex;
	justify-content: flex-start;
}

.pagesBox > .pagesCounterWeight .execute{
	width: 170px;
	padding: 0;
}

#dialogCancel{
    background-color: #FFFFFF;
    color: #4a86e8;
    border: 1px solid #00000060;
    font-size: large;
}

#dialogCancel.button-border{
    background-color: #FFFFFF;
    color: #000000;
}

/* ダイアログ */
dialog{
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 1px solid #000000;
}

dialog::backdrop, dialog + .backdrop{
    background-color: rgba(0,0,0,0.5);
}

#dialogContent{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#dialogContent > p{
    width: 100%;
    text-align: center;
    padding: 2em 5px;
}







#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .65);
}
#modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    max-width: 70vw;
    max-height: 70vh;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    background-color: #fff;
}
.active {
    display: block !important;
}