@charset "UTF-8";

body {
	font-family: sans-serif;
	max-height: 500px;
	height: 100%;
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

div.error {
	text-align: center;
	margin-top: 35px;
	color: red;
}

div.form {
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
}

ul li {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 30px;
}

label {
	margin-right: 10px;
	width: 100px;
	float: left;
}

li input {
	width: 300px;
	border-radius: 5px;
	border: solid 1px;
}

p {
	text-align: center;
}

input.btn {
	width: 120px;
	border: solid 1px;
	border-radius: 5px;
	background-color: #cfe2f3;
}

@media screen and (max-width: 850px) {
	body {
		width: 100%;
		max-width: 850px;
	}

	h1 {
		font-size: 0;
		margin-top: 20px;
	}

	h1:before {
		white-space: pre;
		content: '在庫管理システム\Aログイン画面';
		font-size: 36px;
	}

	div.error {
		width: 95%;
		text-align: left;
		margin: 0 auto;
		margin-top: 35px;
		color: red;
	}

	div.form {
		width: 95%;
		magin: 0 auto;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	ul li {
		width: 100%; display : flex;
		flex-direction: column;
		text-align: center;
		display: flex;
	}

	ul {
		padding-inline-start: 0;
	}

	li input, label {
		width: 100%;
	}

	li input {
		box-sizing: border-box;
		height: 36px;
		padding: 0;
		margin-bottom: 15px;
		font-size: 16px;
	}

	label {
		text-align: left;
		margin: 0;
	}

	input.btn {
		width: 95%;
		min-width: 110px;
		height: 48px;
		border: solid 1px;
		border-radius: 5px;
	}
}