@charset "UTF-8";

body {
	font-family: “Noto Sans JP”, “Noto Sans”, sans-serif;
	max-height: 500px;
	height: 100%;
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

div.form{
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;

}

ul li {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 30px;
}

label {
	margin-right: 10px;
	width: 100px;
	float: left;
}

li input{
	width: 300px;
	height:;
	border-radius: 5px;
	border: solid 1px;
}

p{
	text-align: center;
}

input.btn {
	width:120px;
	height:;
	border: solid 1px;
	border-radius: 5px;
	background-color: ;
}

div.error{
	text-align: center;
	margin-top: 35px;
}