@charset "UTF-8";

* {
	font-family: 'Noto Sans JP', sans-serif;
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1920px;
	min-height: 100%;
	background-color: #f0f0f0;
}

/* ボタン */
.button-warning {
	background-color: #FF0000;
	color: #FFFFFF;
	border: 1px solid #00000060;
	margin: 20px 60px;
	font-size: large;
}

#buttons {
	width: 100%;
	display: flex;
	justify-content: center;
}

#buttons .button {
	margin: 20px 60px;
}
/* ボタンここまで */

/* 文字サイズ可変処理 (1080px~1920px)  式詳細はstyle.cssを参照 */
p, input, select, span, th, td, li ,span, option{
	/* 16px ~ 20px 可変*/
	font-size: calc(16px + (( 1vw - 10.8px)* (4/8.4)));
}

label {
	/* 20px ~ 24px 可変 */
	font-size: calc(20px + (( 1vw - 10.8px)* (4/8.4)));
}
/* 文字サイズ可変処理 此処まで */

/* メディアクエリ(1080px~851px) */
@media screen and (max-width : 1080px) {
  /* 文字サイズ */
  p, input, span, select, button, th, td, li, option{
    font-size: 16px;
  }
  label {
    font-size: 20px;
  }
  /* 文字サイズ  此処まで*/
  #main {
    width: 100%;
    padding: 0 10px;
  }
}

/* メディアクエリ */
@media screen and (max-width: 850px) {
	/* ボタン */
	.button {
		margin: 20px 20px;
		width: 30%;
		min-width: 110px;
		height: 48px;
	}

	#buttons .button {
		margin: 20px 20px;
	}
	/* ボタンここまで */

	/* 入出荷数入力フォーム */
	#inout {
		display: block;
		width: 100%;
	}

	#inoutForm {
		width: 100%;
	}

	/* ボタン含む */
	#inoutForm #execute {
		width: 30%;
		min-width: 110px;
		height: 48px;
	}
	/* 入出荷数入力フォーム */

	/* モーダルウィンドウ */
	#modalContent .button {
		margin: 0;
		width: 115px;
		height: 48px;
	}
	/* モーダルウィンドウここまで */
}