@charset "UTF-8";

/* 共通部分 */
* {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
}

input, select, #initialize {
	border-radius: 5px;
	border: 1.5px solid #00000080;
}

/* 文字サイズ可変処理 (1080px~1920px)  式詳細はstyle.cssを参照 */
p, input, select, span, th, td, li ,span, option{
	/* 16px ~ 20px 可変*/
	font-size: calc(16px + (( 1vw - 10.8px)* (4/8.4)));
}

label {
	/* 20px ~ 24px 可変 */
	font-size: calc(20px + (( 1vw - 10.8px)* (4/8.4)));
}
/* 文字サイズ可変処理 此処まで */

input, select {
	line-height: 2;
	letter-spacing: 0.05em;
	text-align: center;
}

/* 共通部分 此処まで */

header, #error {
  text-align: center;
}

/* エラーメッセージ */
#error {
	color: #FF0000;
	text-align: center;
	margin: 10px auto;
}
/* エラーメッセージここまで */

/* ページ遷移 */
.pagesBox {
	display: flex;
	flex-wrap: nowrap;
	width: 80%;
	padding: 0;
	vertical-align: middle;
	margin: auto;
}

.pagesBox > .pagesCounterWeight {
	flex-grow: 1;
	flex-shrink: 1;
	/* max-width: 20%; */
	text-align: end;
}

.pagesBox > .pagesItemCount {
  flex-grow: 1;
	flex-shrink: 1;
	/* max-width: 20%; */
	text-align: end;
}

.flexPageJump {
	flex-grow: 16;
	flex-shrink: 16;
	display: flex;
	justify-content: center;
	align-items: center;
}


.pagesBox > .pagesSpace {
	flex-grow: 1;
	flex-shrink: 1;
	/* flex-grow: 10; */
}

.pagesBox > .pagesPrevNext {
	/* width: 4em; */
	flex-grow: 1;
	flex-shrink: 1;
}

.pagesBox > .pagesJump {
	/* width: 20%; */
	padding: 0 2em;
	flex-grow: 8;
	flex-shrink: 8;
}

.pagesJump > form {
	display: flex;
	flex-wrap: nowrap;
	max-width: 50%;
	margin: 0 auto;
}

.pagesBox > li {
	text-align: center;
	margin: auto;
}

.pagesJump > form > span {
	display: inline-flex;
	flex-grow: 5;
	flex-shrink: 5;
	margin: 5px;
	align-items: center;
}

.pagesJump > form > span > input.inutPageNumber {
	height: 100%;
	width: 50%;
	margin: 5px;
	flex-grow: 6;
	text-align: end;
}

.pagesJump > form > span > span.pageDelimiter {
	margin: 5px;
	flex-grow: 0;
	text-align: center
}

.pagesJump > form > span > span.maxPage {
	flex-grow: 4;
	flex-shrink: 0;
	margin: 5px;
	text-align: end;
}

.pagesJump > form > input.button {
	width: fit-content;
	background-color: white;
	font-size: 0.95em;
	flex-grow: 1;
	flex-shrink: 0;
	margin: 5px;
	max-width: 70px;
}

.link {
	text-decoration: underline;
	color: #0000ee;
	cursor: pointer;
}

.pagesBox .disabled {
	text-decoration: none;
	text-emphasis: none;
	cursor: default;
}

.pagesJump > form > input#page {
  flex-grow: 4;
}

#pagesJumpInventory {
	display: none;
}

#sumahoPage {
	display: none;
}
/* ページ移動ここまで */

/* 確認一覧 */
table {
  width: 100%;
  margin: 0 5px;
  border: 1px solid #d0d0d0;
	max-height: 95%;
	overflow: auto;
	width: 100%;
	background-color: #ffffff;
	table-layout: fixed;
}

table th {
	background-color: #fff2ccff;
	text-align: center;
	border: 1px solid #00000040;
}

table td {
	border: 1px solid #00000040;
}

#listTable th.headerFixed {
	flex-grow: 0;
}

.headerBookName, .headerAuther{
	width: 20%;
}

.headerPublisher{
	width: 17%;
}

.headerSaleDate, .headerPrice, .headerStock {
	width: 10%;
}

.headerIsbn{
	width: 13%;
}

.data {
	padding: 0 5px;
	text-align: center;
}
/* 確認一覧ここまで */

/* ボタン */
.button {
	border-radius: 6px;
	width: 115px;
	padding: 8px;
	border: 1.5px solid #00000080;
	background-color: #4a86e8ff;
	color: #FFFFFF;
	font-size: large;
}
/* ボタンここまで */

/* メディアクエリ(1080px~851px) */
@media screen and (max-width : 1080px) {
  /* 文字サイズ */
  p, input, span, select, button, th, td, li, option{
    font-size: 16px;
  }
  label {
    font-size: 20px;
  }
  /* 文字サイズ  此処まで*/
  #main {
    width: 100%;
    padding: 0 10px;
  }
}